#text1 {

    font-size: 18px;
    text-align: left;
    padding-top: 22px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: firebrick;
    border-style: solid;
    border-color: lightgreen;
    border-width: 2px;
    
}

#text2 {

    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(19, 49, 139);
}

#sunburstgraph {
    
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 100px;
    height: 1000px;
    width: 1000px;
    align-content: center;
    
}

